<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"/>
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />

    <title>이 옷 어디?</title>
    </head>
        <body>
            <header>
                <div class="inner">
                    <a href="{% url 'User:login' %}" class="logo">
                    <img
                        class="logoImg"
                        src="{% static 'images/LogoImg.JPG' %}"
                        alt="logoImg"
                    />
                    </a>


                    <ul class="submenu">
                      <li><a href="{% url 'main:mainpage' %}">제품 검색</a></li>
                      <li><a href="{% url 'main:community' %}">커뮤니티</a></li>
                      <li><a href="{% url 'main:rcmdpage' %}">제품 추천</a></li>
                      <li><a href="{% url 'main:service_info' %}">서비스 소개</a></li>
                    </ul>

                    <ul class="usermenu">
                    <li><a href="{% url 'User:login' %}">로그인</a></li>
                    <li><a href="{% url 'User:signup' %}">회원가입</a></li>
                    </ul>
                </div>
            </header>

        <h1>Log In</h1>
            <form method = "post" action = "{% url 'User:login' %}">
                {% csrf_token %}
        <div class="loginBox">
          <div class="login">
            <div class="login_id">
              <input type="email" name="email" id="email" placeholder="Email 를 입력하세요" />
            </div>
            <div class="login_pw">
              <input
                type="password"
                name="password"
                id="password"
                placeholder="패스워드를 입력하세요"
              />
            </div>
            <div class="loginBtn">
              <input
                type="submit"
                value="로그인"
              />
            </div>
            <div class="notYetText">아직 회원이 아니신가요?</div>
            <div class="gotoSignUp" href="{% url 'User:signup' %}">
              회원가입
            </div>
          </div>
        </div>
            </form>
    
        <footer>
          <img
          class="footerImg"
          src="{% static 'images/footer_text.png' %}"
          alt="footerImage"
          />
        </footer>
    
      </body>
</html>