.pageInfo {
    margin-top: 80px;
    margin-bottom: 20px;
}

.container {
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #4A90E2;
    padding: 20px;
    /* overflow: scroll;
    width: 90%;
    height: 90%;  */
}

.fashionItemBox {
    width:345px;
    height:298px;
    text-decoration: none;
    margin-bottom:10px;
}

.fashionImage {
    width:345px;
    height:200px;
    border-radius: 5px;
    vertical-align: top;
}

h1 {
    font-size:30px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
}

p, h1, h2 {
    color:#4A90E2;
}
