<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>open source project first front page</h1>
        <br>
        <form action="">
            <label for="imageInput">
                원하는 이미지를 넣어주세요:
            </label>

            <input id="imageInput" name="image">
            <input type="submit" value="찾아보기">
        </form>
    </div>
    
</body>
</html>